/* .foto{
    justify-items: center;
} */

/* .nome_user{
    justify-content: center;
} */

/* .nome{
    display: flex;
    flex-direction: row;
} */

:root {
    --gradiente: rgba(48,5,250,1);
    --swiper-pagination-color : rgb(153, 0, 255);
    --swiper-pagination-bullet-inactive-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.6);
}

.nome{
    display: none;
}
.foto{
    display: flex;
    justify-content: space-around;
}

.cor{
    border-radius: 50px;
    /* border: 2px solid var(--gradiente); */
    border-width: 2px;
    border-style: solid;
    border-color: var(--gradiente);
}

/* p{
    display: inline-flex;
    font-size: 14px;
} */

.swiper {
    margin: 10px;
    width: 80%;
    height: 30%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #dbacac; */
    margin: 20px;
    width: 80%;
    height: 30%;
    padding: 2px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 12%;
    height: auto;
    object-fit: cover;
}


.teste{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 415px){
    .stories{
        margin-top: 50px;
    }
}

@media (max-width: 400px){
    .stories{
        margin-top: 50px;
    }
}

